main.main__container {
  display: grid;
  grid-template-areas: 'question question' 'answer description' 'next-button next-button';
  grid-template-columns: repeat(2, 50%);
  grid-gap: 1em;
}

main.main__container button.next-level {
  grid-area: next-button;
}

main.main__container button.next-level:disabled {
  background: #303030;
  border-color: #424242;
}
