main.main__container {
  display: grid;
  grid-template-areas: 'question question' 'answer description' 'next-button next-button';
  grid-template-columns: 220px 1fr;
  grid-gap: 1em;
}

main.main__container.Congratulations {
  grid-template-areas: 'congr';
  grid-template-columns: 1fr;
  grid-template-rows: minmax(400px, 1fr);
}

main.main__container button.next-level {
  grid-area: next-button;
}

main.main__container button.next-level:disabled {
  background: #303030;
  border-color: #424242;
}

@media screen and (max-width: 767px) {
  main.main__container {
    grid-template-areas: 'question question' 'answer answer' 'description description' 'next-button next-button';
  }
}
