main.main__container {
    &.Congratulations {
        grid-template-areas: 
        'congr';
    grid-template-columns: 1fr; 
    grid-template-rows: minmax(400px, 1fr);
    }
    display: grid;
    grid-template-areas: 
        'question question'
        'answer description'
        'next-button next-button';
    grid-template-columns: 220px 1fr;
    grid-gap: 1em;
    button.next-level {
        grid-area: next-button;
        &:disabled {
            background: #303030;
            border-color: #424242;
        }
    }
    @media screen and (max-width: 767px) {
        grid-template-areas:
        'question question'
        'answer answer'
        'description description'
        'next-button next-button';
    }
    
}
.loading__container {
    display: grid;
    align-items: center;
    justify-content: center;
    .loading {
        color: #fff;
    }
}