@import '~bootstrap/scss/bootstrap';

body {
    background-color: #222;
    #app {
        display: grid;
        grid-gap: 1em;
    }
}
button {
    &:active,
    &:focus {
        outline: 0;
    }
}