.answer-list__container {
    grid-area: answer;
    justify-content: normal;
    border: 1px solid #424242;
    border-radius: 0.25rem;
    background: #303030;
    align-self: baseline;
    .answer-list_item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 0.5em;
        border-bottom: 1px solid #424242;
        &:last-of-type {
            border-bottom: none;
        }
        &:hover {
            background-color: #555;
        }
        span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-flex;
            background-color: #222;
            &.right {
                background-color: #28a545;
            }
            &.false {
                background-color: red;
            }
        }
        button {    
            color: #fff;        
            text-align: left;
        }
    }
}