.description__container {
  display: grid;
  grid-area: description;
  color: #fff;
  justify-content: normal;
  border: 1px solid #424242;
  border-radius: 0.25rem;
  background: #303030;
  padding: 1em;
  grid-template-areas: 'image-container title' 'image-container player' 'text-description text-description';
  grid-template-columns: 200px 1fr;
  grid-gap: 1em;
}

@media screen and (max-width: 1199px) {
  .description__container {
    grid-template-areas: 'image-container title' 'player player' 'text-description text-description';
  }
}

@media screen and (max-width: 500px) {
  .description__container {
    grid-template-areas: 'image-container image-container' 'title title' 'player player' 'text-description text-description';
  }
}

.description__container .text-description {
  grid-area: text-description;
}
