.nav__container {
    grid-area: navigation;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #28a645;
    border-radius: 0.25rem;
    &.column {
        flex-direction: column;
    }
    .nav_item {
        flex: auto;
        text-align: center;
        button {
            width: 100%;
            opacity: 1;
            &:hover,
            &:active,
            &:focus,
            &:visited {
                outline: 0;
                background: none;
                cursor: default;
                border: 1px solid transparent;
                box-shadow: none;
            }
            &.active {
                color: #fff;
                background-color: #1e7e34;
                border-color: #1c7430;
            }
        }
    }
}